/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

/* stylelint-disable no-descending-specificity */

@import "../scss/quiz";
@import "../scss/animations";

div[data-type="quizblocks/quiz"] {

	&.is-selected {

		#quiz-blocks-quiz {

			&.create-quiz,
			&.select-quiz {
				opacity: 1;
			}
		}
	}

	.preloader {
		display: block;
		max-width: 50px;
		margin: 2em auto;
	}

	#quiz-blocks-quiz {

		h2.quiz-title {
			margin-bottom: 0.5em;
			text-align: center;
		}

		&.create-quiz,
		&.select-quiz {
			background-color: #fef8ee;
			border: 1px dashed #21759b;
			padding: 1.5em;
			text-align: center;
			opacity: 0.5;

			.components-select-control__input {
				max-width: 100%;
			}
		}

		&.create-quiz p {
			margin-bottom: 0;
		}
	}
}
