.answers {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;

	&.correct {

		& input:checked+label {
			color: #155724 !important;
			background-color: #d4edda !important;
			border-color: #c3e6cb !important;
		}
	}

	&.incorrect {
		& input:checked+label {
			// background: #c94e4e !important;
			color: #721c24 !important;
			background: #f8d7da !important;
			border-color: #f5c6cb !important;
		}
	}

	.answer {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		width: 48%;
		margin-top: 15px;

		&:nth-child(odd) {
			margin-right: 2%;
		}

		&:nth-child(even) {
			margin-left: 2%;
		}

		&:nth-child(1),
		&:nth-child(2) {
			margin-top: 0;
		}

		input {
			margin: 0;
			position: absolute;
			opacity: 0;
			bottom: 0;
		}

		label {
			border: 1px solid skyblue;
			border-radius: 10px;
			cursor: pointer;
			display: block;
			padding: 1em 0;
			text-align: center;
			width: 100%;
			transition: background 0.25s ease;

			user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}

		input:checked+label {
			background: skyblue;
		}

		input:not(:checked):disabled+label {
			opacity: 0.50;
		}
	}
}