@import './animations';
@import './table';
@import './alerts';

#confetti-canvas {
	position: fixed;
	top: 0;
}

#quiz-blocks {
	position: relative;

	h2.quiz-title {
		margin: 0.5em 0;
		text-align: center;
	}

	.login-notice,
	.multiple-submissions-disabled-notice {
		position: absolute;
		top: 0;
		background: white;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 85%;
		max-height: 265px;
		text-align: center;
		z-index: 2;
		border: 1px solid #21749b50;
		border-radius: 5px;
		box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);

		h4 {
			margin: 1em auto;
			width: 70%;
		}

		a.login,
		a.show-existing-results {
			margin: 0;
		}
	}
}

#quiz-blocks-quiz {
	position: relative;
	margin-bottom: 1em;

	&.not-logged-in,
	&.multiple-submissions-disabled {
		filter: blur(0.25rem);
		position: relative;

		label:hover,
		.question strong,
		input[type="submit"] {
			cursor: default !important;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		.question {
			opacity: 0.5;
		}
	}

	&.is-loading form,
	&.not-logged-in form {
		opacity: 0.25;
	}

	.modal.not-logged-in {
		padding: 2em 0;
		text-align: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgb(53 53 53 / 30%);
		z-index: 1;

		.inner {
			width: 75%;
			margin: 0 auto;
			padding: 1em;
			background: #ffffff;
		}
	}

	.question {
		margin-top: 2.5em;

		&:first-child {
			margin-top: 0;
		}

		strong+.answers {
			margin-top: 0.75em;
		}

		p.description {
			margin: 0 0 0.75em 0;
		}

		@import './answers';

		.answer-explination {
			color: #0c5460;
			background-color: #d1ecf1;
			border-color: #bee5eb;
			margin-top: 1em;
			position: relative;
			padding: 0.75rem 1.25rem;
			margin-bottom: 1rem;
			border: 1px solid transparent;
			border-radius: 0.25rem;

			em.title {
				display: block;
				text-decoration: underline;
			}
		}
	}

	.preloader {
		position: absolute;
		top: 5em;
		left: 0;
		right: 0;
		bottom: 0;
		max-width: 75px;
		margin: 0 auto;
	}

}

.quiz-blocks-rankings.modal,
.quiz-blocks-results.modal {
	min-width: 55%;
	padding: 2em;

	h2 {
		margin-top: 10px;
	}

	.preloader {
		max-width: 75px;
		display: block;
		margin: 1em auto;
	}
}

#quiz-blocks,
#quiz-blocks-quiz {

	input[type="submit"],
	button.button {
		background-color: #21759b;
		border: none;
		color: #ffffff;
		cursor: pointer;
		font-weight: bold;
		margin: 2.5em 0 2em 0;
		padding: 2em 0;
		text-decoration: none;
		text-transform: uppercase;
		width: 100%;

		&:disabled,
		&:disabled:hover {
			background-image: none;
			opacity: 0.55;
			transition: none;
		}
	}

	input[type="submit"] {
		margin-bottom: 0;
	}

	button.button {
		margin-bottom: 1em;

		&:not(:nth-child(2)) {
			margin-top: 0;
		}
	}

	.button_sliding_bg {
		color: #27759a;
		background: #ffffff;
		padding: 12px 17px;
		margin: 25px;
		font-family: 'OpenSansBold', sans-serif;
		border: 3px solid #31302B;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-radius: 2px;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		background-image: linear-gradient(135deg, #2c7ea4 50%, transparent 51%);
		background-size: 100px 100px;
		background-position: -50px -50px;
		background-repeat: no-repeat;
		transition: all ease 0.45s;

		&:hover {
			background-size: 200% 200%;
			background-position: 0px 0px;
			color: #ffffff;
		}
	}
}

.quiz-blocks-rankings,
.quiz-blocks-results,
#quiz-blocks button.show-results {
	display: none;
}